body{
   font-family: 'Open Sans', sans-serif;
   font-weight: 600;
   background-repeat: repeat;
}

.title_scrolle-menu{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #313131;
   height: 70px;
  
}
.title__scrolle-items{
   display: flex;
   color: white;
}
.scrolle-item{
   text-transform: uppercase;
   font-style: normal;
   font-weight: 600;
   line-height: 20px;
   font-size: 15px;
}
.scrolle-item:hover{
   color: #14B9D5;
   transition: 0.3s;
}
.scrolle-logo{
   display: flex;
   align-items: center;
   color: #FFFFFF;
   font-style: normal;
   font-weight: 700;
   line-height: 30px;
   font-size: 22px;
}
.logo{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 81px;
   height: 70px;
   margin-right: 27px;
}
.name:hover{
   color: #14B9D5;
   transition: 0.3s;
}
.scrolle-item{
   display: flex;
   margin-right: 35px;
}
.lupa-icon{
   padding: 25px; 
}
.scrolle-lupa{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 68px;
   height: 70px;
   background-color: #000000;
}
.title_information{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   background-image: url("../img/header-background.png");
   background-repeat: repeat;
   height: 369px;
   
}
.title__information-text{
   text-transform: uppercase;
   color: #FFFFFF;
   font-style: normal;
   font-weight: 700;
   font-size: 27px;
   line-height: 37px;
   margin-bottom: 44px;
}
.title__information-button{
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   color: #FFFFFF;
   display: flex;
   margin-bottom: 74px;
}
.subscribe_button{
   background-color: #89CA62;
   border-radius: 4px;
   width: 170px;
   height: 55px;
}
.articles_button{
   margin-left: 20px;
   background-color: #14B9D5;
   border-radius: 4px;
   width: 170px;
   height: 55px;
}
.title_main{
   display: flex;
   justify-content: center;
   font-style: normal;
   font-weight: 700;
   font-size: 27px;
   line-height: 37px;
   color: #18B4CF;
   margin-bottom: 52px;
}
.title{
   margin-top: 49px;
}

.most_popular_posts{
   background-color: #F2F2F2;
   padding-bottom: 72px;
}
.flex_container{
   width: 1170px;
   height: 827px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 30px;
   margin: 0 auto;
}
.box{
    max-width: 33%;
    background-color: #FFFFFF;
}
.flex__container-box-text{
   padding: 30px;
   text-align: center;
}
.flex__container-box1 {
   height: 320px;
   order: 1;
}
.flex__container-box2 {
   height: 441px;
   order: 3;
}
.flex__container-box3 {
   height: 355px;
   order: 5;
}
.flex__container-box4 {
   height: 321px;
   order: 2;
}
.flex__container-box5 { 
   height: 309px;  
   order: 4;
}
.flex__container-box6 {
   height: 441px;
   order: 6;
}

.main_article{
   background-image: url("../img/Layer\ 4\ 1.jpg");
   background-repeat: repeat;
   height: 588px;
}
.main_article{
   display: grid;
   align-content: space-between;
  
}
.article-text{
   text-transform: uppercase;
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 44px;
   color: #FFFFFF;
   margin-top: 108px;
   text-align: center;
   
}
.main__article-text::after{
   display: block;
   content: "";
   border-bottom: #18B4CF solid ;
   width: 60px;
   height: 3px;
   margin: 0 auto;
   margin-top: 87px;
   
}
.main__article-logo{
   display: grid;
   grid-template-columns: 207px 135px 232px 141px;
   grid-template-rows: 52px;
   justify-content: center;
   align-content: space-around;
   align-items: center;
   gap: 58px;
   margin-bottom: 191px;
}
.top__rated-name{
   background-color: #E5E5E5;
   text-align: center;
   text-transform: uppercase;
   color: #18B4CF;
   font-weight: 700;
   font-size: 27px;
   line-height: 37px;
   padding-top: 49px;
   padding-bottom: 52px;
   width: 100%;
}
.top__rated-photo{
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   justify-content: center;
   width: 100%;
  
   
}
#photo{
   width: 100%;
}
.top_rated{
   
   margin-bottom: 49px;
   width: 100%;
}
.hot_news{
   margin-bottom: 77px;
}
.hot__news-name{
   text-transform: uppercase;
   text-align: center;
   color: #18B4CF;
   font-weight: 700;
   font-size: 27px;
   line-height: 37px;
   margin-bottom: 51px;
}
.hot__news-photo{
   width: 1133px;
   
}
.hot__news-photo1{
   display: flex;
   align-items: center;
   width: 856px;
   height: 259px; 
   grid-column: 1 / span 4;
   grid-row: 1
}
.text1-title{
   text-align: right;
   margin-right: 24px;
}
.hot__news-text1-title{
   margin-bottom: 14.5px;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   color: #353A3D;
}

.hot__news-text1{
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;
   color: #5B6469;
}
.hot__news-photo2{
   max-width: 277px;
   height: 258px;
   grid-column: 4 / span 5;
   grid-row: 1;
}
.hot__news-text2{
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   padding-top: 14px;
   text-align: center;
   color: #353A3D;
}
.hot__news-photo3{
   width: 554px;
   height: 418px;
   grid-column: 1 / span 3;
   grid-row: 2;
   text-align: right;
}
.hot__news-text3-title {
   padding-top: 12px;
   margin-right: 14px;
   margin-bottom: 15px;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   color: #353A3D;
}
.hot__news-text3 {
   margin-right: 14px;
   color: #5B6469;
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;
   margin-left: 13px;
}
.hot__news-photo4{
   width: 554px;
   height: 418px; 
   grid-column: 3 / span 5;
   grid-row: 2;
   text-align: right;
   margin-left: 16px;
}
.hot__news-text4-title {
   padding-top: 12px;
   margin-right: 27px;
   margin-bottom: 15px;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   color: #353A3D;
}
.hot__news-text4 {
   margin-right: 14px;
   color: #5B6469;
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;
   margin-left: 13px;
}
.hot__news-photo5{
   width: 554px;
   height: 416px;
   grid-column: 1 / span 3;
   grid-row: 3;
   text-align: right;
}
.hot__news-text5-title {
   padding-top: 12px;
   margin-right: 27px;
   margin-bottom: 15px;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   color: #353A3D;
}
.hot__news-text5 {
   margin-right: 14px;
   color: #5B6469;
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;
   margin-left: 13px;
}
.hot__news-photo6{
   width: 554px;
   height: 416px;
   grid-column: 3 / span 5;
   grid-row: 3;
   text-align: right;
   margin-left: 16px;
}
.hot__news-text6-title {
   padding-top: 12px;
   margin-right: 27px;
   margin-bottom: 15px;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   color: #353A3D;
}
.hot__news-text6 {
   margin-right: 14px;
   color: #5B6469;
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;
   margin-left: 13px;
}
.hot__news-photo7{
   max-width: 277px;
   height: 259px;
   grid-column: 1 / span 2;
   grid-row: 4
}
.hot__news-text7{
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   padding-top: 14px;
   text-align: center;
   color: #353A3D;
}
.hot__news-photo8{
   display: flex;
   align-items: center;
   width: 856px;
   height: 259px;
   grid-column: 2 / span 5;
   grid-row: 4;
   margin-left: 7px;
}
.text8-title {
   text-align: right;
   margin-right: 24px;
}
.hot__news-text8-title {
   margin-bottom: 14.5px;
   font-weight: 700;
   font-size: 18px;
   line-height: 25px;
   color: #353A3D;
}
.hot__news-text8 {
   font-weight: 600;
   font-size: 14px;
   line-height: 21px;
   color: #5B6469;
}
.about{
   background-color: #F9F7F7;
}
.hot__news-photo{
   width: 1168px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 20% 20% 20% 20% 20% ;
   gap: 44px 60px;
}
.footer_container{
   background-color: #000000;
   height: 80px;
   
}
.footer__architect-container{
   display: grid;
   width: 1168px;
   height: 80px;
   grid-template-columns: 512px 102px;
   justify-content: space-between;
   align-content: space-around;
   margin: 0 auto;
}
.footer__architect{
   color: #FFFFFF;
   font-weight: 400;
   font-size: 13px;
   line-height: 13px;
}
.footer__architect-logo{
   display: grid;
   grid-template-columns:38px 64px;
   
}




