body{
   font-family: 'Ubuntu', sans-serif;
   font-style: normal;
   font-weight: 400;
   background-image: url("../img/icon/fon.svg");
   background-size: 100%;
}
.title{
   background-color: black;
   background-size: 100%;
   height: 58px;
   background: rgba(0, 0, 0, 0.4);
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 54px;
   width: 100%;
}
.title__name{
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 22px;
   color: white;
   margin-left: 79px;
   text-transform: uppercase;
   display: flex;
   align-items: center;
}
.title__login{
   display: flex;
   margin-right: 79px;
}
.sl{
   color: white;
   display: flex;
   align-items: center;
}
.login{
   margin-right: 5px;
}
.login:hover{
   color: #01813F;
   transition: 0.3s;
}
main{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   
}
.registration_container{
   background-color: white;
   width: 444px;
   height: 584px;
   
   
   
}
.registration__square{
   background-color: #3CB878;;
   width: 18px;
   height: 18px;
   position: absolute;
   top: 29px;
}
.registration__signup{
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 16px;
   margin-top: 29px;
   margin-bottom: 15px ;
}
.svgicon{
   margin: 15px;
}
a:hover #green{
   fill: #01813F;
   transition: 300ms;
}
.logo:hover{
   color: green;
   transition: 0.3s;
}
.signupp{
   font-weight: 400;
   font-size: 20px;
   line-height: 20px;
   color: #434343;
   margin-left: 61px;
}
.loginn{
   color: #3CB878;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 14px;
   transition: all 0.3s;
   margin-right: 59px;
}
.loginn:hover{
   color: #01813F;
   text-decoration: underline;
}
.buttonlog_container{
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 31px;
}
.buttonlog__facebookk{
   font-size: 16px;
   line-height: 16px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #305DB8;
   border-radius: 4px;
   width: 157px;
   height: 46px; 
   margin-left: 55px;
}
i{
   font-size: 10px;
}
.buttonlog__facebookk:hover{
   background-color: #022263;
   transition: 0.3s;
}
.buttonlog__googlee{
   font-size: 16px;
   line-height: 16px;
   color: white;
   display: flex;
   align-items: center;
   background-color: #DF4A32;
   border-radius: 4px;
   width: 157px;
   height: 46px; 
   margin-right: 55px;
}
.buttonlog__googlee:hover{
   background-color: #AB1F09;
   transition: 0.3s;
}
.fa-google-plus-g{
   margin-left: 12px;
}

.fa-facebook-f{
   background-size: 40px;
   padding-right: 18px;
   border-right: 1px solid;
   border-color: rgb(10, 22, 47, 0.1);
   margin-right: 18px;
}
.fa-google-plus-g{
   background-size: 40px;
   padding-right: 7px;
   border-right: 1px solid;
   border-color: rgb(10, 22, 47, 0.1);
   margin-right: 30px;
}
.other_line{
   display: flex;
   justify-content: space-around;
   margin-bottom: 12px;
}
.other__text::after{
   display: inline-block;
   content: "";
   border-bottom: #F2F2F2 solid 1px;
   width: 148px;
   height: 2px;
   margin-bottom: 3px;
   margin-left: 5px;
}
.other__text::before{
   display: inline-block;
   content: "";
   border-bottom: #F2F2F2 solid 1px;
   width: 148px;
   height: 2px;
   margin-bottom: 3px;
   margin-right: 5px;
}
.input_container{
   text-align: center;
   margin-bottom: 12px;
}
input{
   font-family: 'Ubuntu';
   font-style: normal;
   font-weight: 400;
   border: 1px solid #F2F2F2;
   border-radius: 4px;
   width: 322px;
   height: 44px;
   margin-bottom: 15.96px;
   padding-left: 20px;
}
data::placeholder{
   color: #BEBEBE;
   font-weight: 400;
   font-size: 14px;  
}
#data:focus{
   box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.chekbox {
   position: relative;
   margin-bottom: 20px;
   margin-right: 33px;
}
.chekbox__input {
   position: absolute;
   width: 0px;
   height: 0px;
   opacity: 0;
}
.chekbox__input:checked+.chekbox__label::before{
   background-image: url("/lesson16/img/icon/galka.svg");
   background-repeat: no-repeat;
}
.chekbox__label {
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   gap: 10px;
}
.chekbox__label::before{
   content: "";
   flex: 0 0 20px;
   width: 20px;
   height: 20px;
   background-color: white;
   border: 1px solid #F2F2F2;
}
button{
   font-weight: 400;
   font-size: 16px;
   line-height: 16px;
   color: #FFFFFF;
   background: rgba(60, 184, 120, 0.8);
   border-radius: 4px;
   width: 324px;
   height: 46px;
}
button:hover{
   background: #01813F;
   transition: 0.3s;
}
.terms{
   color: #3CB878;
   margin-top: 3px;
   padding-bottom: 4px;
}
.terms:hover{
   color: #01813F;
   border-bottom: #01813F 1px solid;
   transition: 0.3s;
}
i{
   font-size: 22px;
}

